<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stock.webpage.mapper.KodexEtfSummaryMapper">

    <!-- 전체 ETF -->
    <select id="selectAll"
            resultType="com.stock.webpage.dto.KodexEtfSummaryDTO">
        SELECT
            etf_id      AS etfId,
            base_date   AS baseDate,
            etf_name    AS etfName,
            irp_yn      AS irpYn,
            total_cnt   AS totalCnt,
            last_update AS lastUpdate
        FROM kodex_etf_summary
        ORDER BY etf_name ASC
    </select>

    <!-- ETF명 / ETF코드 검색 -->
    <select id="selectByEtfNameOrEtfId"
            resultType="com.stock.webpage.dto.KodexEtfSummaryDTO">
        SELECT
            etf_id      AS etfId,
            base_date   AS baseDate,
            etf_name    AS etfName,
            irp_yn      AS irpYn,
            total_cnt   AS totalCnt,
            last_update AS lastUpdate
        FROM kodex_etf_summary
        WHERE
            LOWER(etf_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
        ORDER BY etf_id ASC
    </select>

    <!-- ETF ID 목록으로 조회 -->
    <select id="selectByEtfIdIn"
            resultType="com.stock.webpage.dto.KodexEtfSummaryDTO">
        SELECT
        etf_id      AS etfId,
        base_date   AS baseDate,
        etf_name    AS etfName,
        irp_yn      AS irpYn,
        total_cnt   AS totalCnt,
        last_update AS lastUpdate
        FROM kodex_etf_summary
        WHERE etf_id IN
        <foreach collection="etfIds"
                 item="etfId"
                 open="("
                 separator=","
                 close=")">
            #{etfId}
        </foreach>
        ORDER BY etf_id ASC
    </select>

</mapper>
